@import "http://fonts.fontstorage.com/import/roboto.css";

:root{ 
    font-family: 'Roboto';
}

.Post{
    height: 435px;
    width: 414px;
    position: absolute;
    background-color: #FFFFFF;
}

.Post__photo{
    position: absolute;
    border-radius: 7px;
    background-image: url(../photo/Photo__1.png);
    width: 414px;
    height: 230px;
}

.Post__title{
    position: absolute;
    right: 4.83%;
    left: 4.83%;
    bottom: 30.8%;
    top: 58.62%;
    /* font-style: normal; */
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: bold;
    color: #2B2D36;
}

.Post__description{
    position: absolute;
    right: 4.83%;
    top: 72.64%;
    bottom: 15.17%;
    /* font-style: normal;
    font-weight: normal; */
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    left: 4.83%;
    color: #2B2D36;
}

.Post__link{
    position: absolute;
    left: 61.35%;
    right: 8.7%;
    top: calc(50% - 16px/2 + 189.5px);
    /* font-style: normal; */
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: #68D6F4;
    height: 16px;
}

.Post__time{
    position: absolute;
    height: 16px;
    left: 17.86%;
    right: 7.86%;
    top: calc(50% - 16px/2);
    /* font-style: normal;
    font-weight: normal; */
    font-size: 14px;
    line-height: 16px;
    color: #DFDFDF;
}

.Post__time__picture{
    position: absolute;
    height: 15px;
    width: 15px;
    left: 4.87%;
    right: 92.7%;
    top: 23.3%;
    bottom: 29.86%;
    background: #DADADA;
    background-image: url(../photo/Photo__time.jpg);
}